body {
  font-family: sans-serif;
  font-size: 100%;
  background-color: #ADC7FF;
  padding: 5px;
}

input.searchbox {
  font-size: 200%;
  width: 100%;

  /* disable blue glow */
  outline: none;
}

#tabListDiv {
  /* small offset from the input field */
  margin-top: 5px;

  /* fixed list width */
  width: 500px;

  /* limited height, so vertical scroll appears on div and not on body */
  overflow-x: hidden;
  max-height: 500px;
}

#tabListDiv > div {
  /* avoid an excessively wide item text */
  white-space: pre;
  text-overflow: ellipsis;
  overflow-x: hidden;

  border-radius: 5px;
  padding: 0px 0px 2px 3px;

  /* small offset from the scrollbar */
  margin-right: 10px;
}

#tabListDiv > div .title {
  font-size: 80%;
  color: #000000;
}

#tabListDiv > div .url {
  position: relative;
  left: 22px;
  font-size: 60%;
  color: #444444;
}

#tabListDiv > div.highlighted {
  background-color: orange;
  color: white;
}

img.favicon {
  position: relative;
  top: 3px;

  width: 16px;
  height: 16px;
  margin-right: 4px;
}

/* Styling scrollbar */
#tabListDiv::-webkit-scrollbar {
    width: 7px;
}
#tabListDiv::-webkit-scrollbar-track {
    background-color: #99BBFF;
}
#tabListDiv::-webkit-scrollbar-thumb {
    background-color: #7799FF;
}
#tabListDiv::-webkit-scrollbar-thumb:hover {
    background-color: #3355FF;
}
